@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.carousel-events {
    margin-top: 30px;
}

.categoria-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-main {
    font-family: 'Courier Prime';
    font-size: 3em;
    margin-bottom: 0px;
    height: 50px;
}

.subtitle-main {
    font-family: 'Ubuntu Mono';
    font-size: 1.2em;
}

.item-categoria {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    height: 350px;
    padding: 15px;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 4px 6px 8px #000;
}

.item-categoria h2 {
    font-family: 'Courier Prime';
}

.item-categoria a button {
    border: none;
    border-radius: 30px;
    background-color: var(--rosa3);
    font-family: 'Ubuntu Mono';
    padding: 5px 10px;
    transition: .3s;
}

.item-categoria a button:hover {
    background-color: var(--rosa2);
    transform: scale(1.2);
}

@media (max-width:818px) {
    .item-categoria {
        height: 260px;
        margin-top: 20px;
    }
}