@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --rosa1: #CFB2A3;
    --rosa2: #CFA3A6;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    padding-top: 10px;
}

/* Logo */
.logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img>img {
    display: block;
    height: 48px;
}

/* Barra de busca */
.search-bar-forms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 15px;
    background-color: #e4e4e4;
    border-radius: 30px;
}

#search-bar {
    width: 80%;
    border: none;
    background-color: transparent;
}

#search-bar::placeholder {
    font-family: "Ubuntu Mono";
}

#search-bar:focus {
    outline: none;
}

.search-bar-button {
    background-color: var(--rosa1);
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
}

.search-bar-button i {
    font-size: 0.8em;
}

/* Área de serviços */

.service-div {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-div,
.user-div,
.cart-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-div,
.cart-div {
    width: 50%;
}


.user-div a,
.cart-div a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    color: #000 !important;
    text-decoration: none !important;
}

.user-icon i,
.cart-icon i {
    font-size: 1.8em;
}

.user-text {
    line-height: 15px;
}

.user-text,
.cart-text {
    margin-left: 5%;
    font-size: .8em;
}

/* Links de navegação */
nav {
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0em;
    margin: 3px 0px;
}

.links li {
    padding: 2px 5px;
    list-style: none;
    transition: .3s;
}

.links li:hover {
    background-color: var(--rosa1);
    border-radius: 30px;
}

.links a {
    color: #000;
    font-family: 'Ubuntu Mono';
    text-decoration: none;
}

/* Menu hamburguer */
#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: black;
    transition: .25s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}

.label-menu {
    display: none;
}

@media (max-width:818px) {
    .service-div {
        display: none;
    }

    .links {
        display: none;
    }

    .search-bar-forms {
        display: none;
    }

    .label-menu {
        display: block;
    }
}