@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --rosa1: #CFB2A3;
    --rosa2: #CFA3A6;
    --rosa3: #CEB1A3;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    padding-top: 10px;
}

/* Logo */
.logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img>img {
    display: block;
    height: 48px;
}

/* Barra de busca */
.search-bar-forms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 15px;
    background-color: #e4e4e4;
    border-radius: 30px;
}

#search-bar {
    width: 80%;
    border: none;
    background-color: transparent;
}

#search-bar::placeholder {
    font-family: "Ubuntu Mono";
}

#search-bar:focus {
    outline: none;
}

.search-bar-button {
    background-color: var(--rosa1);
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
}

.search-bar-button i {
    font-size: 0.8em;
}

/* Área de serviços */

.service-div {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-div,
.user-div,
.cart-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-div,
.cart-div {
    width: 50%;
}


.user-div a,
.cart-div a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    color: #000 !important;
    text-decoration: none !important;
}

.user-icon i,
.cart-icon i {
    font-size: 1.8em;
}

.user-text {
    line-height: 15px;
}

.user-text,
.cart-text {
    margin-left: 5%;
    font-size: .8em;
}

.cart-number {
    position: absolute;
    background-color: red;
    color: #fff;
    top: 2.8%;
    right: 5.1%;
    border-radius: 50%;
    font-size: .7em;
    text-align: center;
    height: 15px;
    width: 15px;
}

/* Links de navegação */
nav {
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0em;
    margin: 3px 0px;
}

.links li {
    padding: 2px 5px;
    list-style: none;
    transition: .3s;
}

.links li:hover {
    background-color: var(--rosa1);
    border-radius: 30px;
}

.links a {
    color: #000;
    font-family: 'Ubuntu Mono';
    text-decoration: none;
}

/* Menu hamburguer */
#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: #000;
    transition: .25s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}

.label-menu {
    display: none;
}

.mobile-nav {
    display: none;
}

.shop-cart {
    position: absolute;
    height: 100vh;
    top: 0px;
    right: 0px;
    width: 28vw;
    background-color: #F4F4F4;
    box-shadow: #797979 -4px 0px 15px;
}

.shop-cart-header {
    padding: 15px 20px;
    height: 9%;
}

.shop-cart-title {
    font-size: 1.3em;
    margin-bottom: 0em;
}

.shop-cart-title i {
    font-size: 1.1em;
}

.close-button {
    font-size: 1.1em;
    cursor: pointer;
}

 /* Área dos pedidos */
.shop-cart-content {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    height: 76%;
    overflow: auto;
}

.shop-cart-item {
    width: 100%;
    height: min-content;
    margin-top: 5px;
    border-bottom: 1px #bdbdbd solid;
    display: flex;
    justify-content: center;
}

.shop-cart-item-img img {
    display: block;
    width: 100%;
}

.shop-cart-item-info p {
    margin-bottom: 0px;
    /* Impede que o texto quebre em múltiplas linhas */
    white-space: nowrap;
    /* Esconde o texto que ultrapassa os limites do elemento */
    overflow: hidden;
    /* Adiciona "..." no final do texto que não cabe */
    text-overflow: ellipsis;
}

.shop-cart-trash,
.shop-cart-quant-area {
    padding-top: 10px;
}

.shop-cart-quant-area {
    display: flex;
    justify-content: flex-start;

}

.shop-cart-quant-area input {
    background-color: #e4e4e4;
    width: 70px;
    text-align: center;
    border: none;
}

.shop-cart-quant-area input:focus {
    outline: none;
}

.shop-cart-minus,
.shop-cart-plus {
    height: 24px;
    width: 24px;
    background-color: #bdbdbd;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.shop-cart-minus {
    border-radius: 10px 0px 0px 10px;
}

.shop-cart-plus {
    border-radius: 0px 10px 10px 0px;
}

.shop-cart-price{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-cart-price p{
    margin-bottom: 8px;
    font-weight: bold;
}

    /* Botão para finalizar compra */
.shop-cart-bottom {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-cart-bottom a {
    display: block;
    width: 80%;
}

.shop-cart-bottom button {
    background-color: var(--rosa3);
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

@media (max-width:818px) {
    .service-div {
        display: none;
    }

    .links {
        display: none;
    }

    .search-bar-forms {
        display: none;
    }

    .label-menu {
        display: block;
    }

    .mobile-nav {
        display: block;
        width: 100%;
    }

    .search-bar-mobile-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-bar-mobile-forms {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding: 5px 15px;
        background-color: #e4e4e4;
        border-radius: 30px;
    }

    #search-bar-mobile {
        width: 90%;
        border: none;
        background-color: transparent;
    }

    #search-bar-mobile::placeholder {
        font-family: "Ubuntu Mono";
    }

    #search-bar-mobile:focus {
        outline: none;

    }

    .search-bar-mobile-button {
        background-color: var(--rosa1);
        border: none;
        border-radius: 50%;
        width: 24px;
    }

    .cart-number {
        top: 60px;
        right: 60px;
    }

    .shop-cart {
        width: 60vw;
    }
}