@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --rosa1: #CFB2A3;
    --rosa2: #CFA3A6;
    --rosa3: #CEB1A3;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    padding-top: 10px;
}

/* Barra de informações */
.extra-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--rosa2);
}

.extra-bar div {
    font-size: .8em;
}

/* Logo */
.logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img>img {
    display: block;
    height: 48px;
}

/* Barra de busca */
.search-bar-div {
    width: 100%;
}

.search-bar-forms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 15px;
    background-color: #e4e4e4;
    border-radius: 30px;
    cursor: text;
}

#search-bar {
    width: 85%;
    border: none;
    background-color: transparent;
}

#search-bar::placeholder {
    font-family: "Ubuntu Mono";
}

#search-bar:focus {
    outline: none;
}

.search-bar-button {
    background-color: var(--rosa1);
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
}

.search-bar-button i {
    font-size: 0.8em;
}

/* Área de serviços */

.service-div {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-div,
.user-div,
.cart-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-div,
.cart-div {
    width: 50%;
}


.user-div a,
.cart-div a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    color: #000 !important;
    text-decoration: none !important;
}

.user-icon i,
.cart-icon i {
    font-size: 1.8em;
}

.user-text {
    line-height: 15px;
}

.user-text,
.cart-text {
    margin-left: 5%;
    font-size: .8em;
}

/* Links de navegação */
nav {
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0em;
    margin: 3px 0px;
}

.links li {
    padding: 2px 5px;
    list-style: none;
    transition: .3s;
}

.links li:hover {
    background-color: var(--rosa1);
    border-radius: 30px;
}

.links a {
    color: #000;
    font-family: 'Ubuntu Mono';
    text-decoration: none;
}

/* Menu hamburguer */
#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: #000;
    transition: .25s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}

.label-menu {
    display: none;
}

.mobile-nav {
    display: none;
}

.shop-cart,
.menu-mobile {
    position: fixed;
    height: 100vh;
    top: 0px;
    right: 0px;
    width: 28vw;
    background-color: #F4F4F4;
    box-shadow: #797979 -4px 0px 15px;
    z-index: 1;
}

.shop-cart-header {
    padding: 15px 20px;
    height: 9%;
}

.shop-cart-title {
    font-size: 1.3em;
    margin-bottom: 0em;
}

.shop-cart-title i {
    font-size: 1.1em;
}

.close-button {
    font-size: 1.1em;
    cursor: pointer;
}

/* Área dos pedidos */
.shop-cart-content {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    height: 76%;
    overflow: auto;
}

.shop-cart-item {
    width: 100%;
    height: min-content;
    margin-top: 5px;
    border-bottom: 1px #bdbdbd solid;
    display: flex;
    justify-content: center;
}

.shop-cart-item-img img {
    display: block;
    width: 100%;
}

.shop-cart-item-info p {
    margin-bottom: 0px;
    /* Impede que o texto quebre em múltiplas linhas */
    white-space: nowrap;
    /* Esconde o texto que ultrapassa os limites do elemento */
    overflow: hidden;
    /* Adiciona "..." no final do texto que não cabe */
    text-overflow: ellipsis;
}

.shop-cart-trash,
.shop-cart-quant-area {
    padding-top: 10px;
}

.shop-cart-quant-area {
    display: flex;
    justify-content: flex-start;

}

.shop-cart-quant-area input {
    background-color: #e4e4e4;
    width: 70px;
    text-align: center;
    border: none;
}

.shop-cart-quant-area input:focus {
    outline: none;
}

.shop-cart-minus,
.shop-cart-plus {
    height: 24px;
    width: 24px;
    background-color: #bdbdbd;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.shop-cart-minus {
    border-radius: 10px 0px 0px 10px;
}

.shop-cart-plus {
    border-radius: 0px 10px 10px 0px;
}

.shop-cart-price {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-cart-price p {
    margin-bottom: 8px;
    font-weight: bold;
}

/* Botão para finalizar compra */
.shop-cart-bottom {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-cart-bottom a {
    display: block;
    width: 80%;
}

.shop-cart-bottom button {
    background-color: var(--rosa3);
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

/* Menu mobile */
.close-button-area {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
}

.close-button-area i {
    cursor: pointer;
}

.menu-mobile-header {
    padding: 0px 10px;
}

.user-img {
    width: fit-content;
}

.user-img img {
    max-height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.menu-mobile-header a {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    width: 100%;
}

.texts {
    display: block;
    width: 70%;
}

.texts p {
    width: 100%;
    margin-bottom: 0px;
}

.user-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 1.2em;
}

.user-email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Navegação do menu mobile */
.nav-links-mobile nav {
    width: 100%;
}

.links-mobile {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.links-mobile li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 10px 0px;
    padding: 0px 0px 10px 0px;
    width: 80%;
    border-bottom: 1px #797979 solid;
}

.links-mobile li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    font-family: 'Ubuntu Mono';
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
    transition: .3s;
}

.links-mobile li a:hover {
    border-radius: 30px;
    background-color: var(--rosa1);
}

.voltar-div {
    margin: auto;
    width: 200px;
    transition: .3s;
}

.voltar-div:hover {
    transform: scale(1.2);
}

.icon-back-area {
    height: 40px;
    width: 40px;
    background-color: var(--rosa2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

.voltar-div a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pageUpText {
    color: var(--rosa2);
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0px;
}

.pageUpTextHover {
    text-decoration: underline;
}

.About-div p {
    margin-bottom: 0px;
}

.footerTextAbout {
    margin-bottom: 0px;
    font-family: 'Ubuntu Mono';
    font-size: 1.3em;
}

.Span-div p {
    margin-bottom: 0px;
    font-family: 'Ubuntu Mono';
    font-size: 1.3em;
}

.Span-div span {
    font-size: 14px;
}

.Span-Forms input[type='email'] {
    border: none;
    border-bottom: 2px solid #000;
    width: 60%;
}

.Span-Forms input[type='email']::placeholder {
    color: #000;
}

.Span-Forms input[type='email']:focus {
    outline: none;
}

.Span-Forms input[type='submit'] {
    border: none;
    border-radius: 30px;
    background-color: var(--rosa3);
    padding: 5px 10px;
    transition: .3s;
}

.Span-Forms input[type='submit']:hover {
    background-color: #a08a7f;
}

.Span-Forms input[type='submit']:disabled {
    background-color: #ffe5d8;
    cursor: not-allowed;
}

.About-div, .Span-div {
    padding-top: 20px ;
    padding-bottom: 20px ;
}

.redes-sociais p{
    margin-bottom: 0px;
    font-family: 'Ubuntu Mono';
    font-size: 1.3em;
}

.redes-sociais a{
    color: #000;
    text-decoration: none;
}

.redes-sociais a:hover{
    text-decoration: underline;
}

.logofooter {
    padding: 5px;
    background-color: #FFF;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.logofooter img {
    display: block;
    width: 100%;
    border: 5px solid var(--rosa3);
    border-radius: 50%;
}

.copy-div {
    background-color: var(--rosa3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0px;
}

.copy-div p {
    margin-bottom: 0px;
}

.copy-div a {
    color: #000;
}

.copy-div a p {
    margin-bottom: 0px;
}

.copy-div a i {
    font-size: 1.5em;
}

@media (max-width:818px) {
    .extra-bar {
        display: none;
    }

    .service-div {
        display: none;
    }

    .links {
        display: none;
    }

    .search-bar-forms {
        display: none;
    }

    .label-menu {
        display: block;
    }

    .mobile-nav {
        display: block;
        width: 100%;
    }

    .search-bar-mobile-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-bar-mobile-forms {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding: 5px 15px;
        background-color: #e4e4e4;
        border-radius: 30px;
    }

    #search-bar-mobile {
        width: 90%;
        border: none;
        background-color: transparent;
    }

    #search-bar-mobile::placeholder {
        font-family: "Ubuntu Mono";
    }

    #search-bar-mobile:focus {
        outline: none;

    }

    .search-bar-mobile-button {
        background-color: var(--rosa1);
        border: none;
        border-radius: 50%;
        width: 24px;
    }

    .shop-cart,
    .menu-mobile {
        width: 60vw;
    }

    .About-div, .Span-div {
        border-bottom: 1px solid #000;
    }
}

.disable {
    display: none;
}